noderedflow.json
[{"id":"92b27fd4.9ae7","type":"tab","label":"WA handler","disabled":false,"info":""},{"id":"4110216e.62f1a","type":"http in","z":"92b27fd4.9ae7","name":"","url":"/wahandler","method":"get","upload":false,"swaggerDoc":"","x":109,"y":60,"wires":[["4c2102d1.36076c"]]},{"id":"4c2102d1.36076c","type":"switch","z":"92b27fd4.9ae7","name":"request","property":"payload.request","propertyType":"msg","rules":[{"t":"eq","v":"time","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":293.5,"y":133,"wires":[["c7c4c73d.2e7ee8"],["6b81f954.bf1f58"]]},{"id":"2af1c20.39c333e","type":"http response","z":"92b27fd4.9ae7","name":"","statusCode":"","headers":{},"x":897,"y":296,"wires":[]},{"id":"6b81f954.bf1f58","type":"change","z":"92b27fd4.9ae7","name":"don't understand request","rules":[{"t":"set","p":"payload.message","pt":"msg","to":"verstehe ich nicht","tot":"str"},{"t":"set","p":"payload.result","pt":"msg","to":"error","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":615.5,"y":294,"wires":[["2af1c20.39c333e"]]},{"id":"c7c4c73d.2e7ee8","type":"http request","z":"92b27fd4.9ae7","name":"get time","method":"GET","ret":"txt","paytoqs":false,"url":"https://hackathon-jps.eu-de.mybluemix.net/time","tls":"","proxy":"","authType":"basic","x":508,"y":130,"wires":[["78568239.fc840c"]]},{"id":"4a071f0.43b00e","type":"comment","z":"92b27fd4.9ae7","name":"receive request from Cloud Functions web action","info":"","x":206.5,"y":22,"wires":[]},{"id":"3bf6a438.414bcc","type":"comment","z":"92b27fd4.9ae7","name":"route request ","info":"","x":304.5,"y":88,"wires":[]},{"id":"7180dfb9.28c8a","type":"comment","z":"92b27fd4.9ae7","name":"process request, e.g. external service","info":"","x":537.5,"y":87,"wires":[]},{"id":"493adcae.f59194","type":"comment","z":"92b27fd4.9ae7","name":"return response to web action and Watson Assistant","info":"","x":762,"y":342,"wires":[]},{"id":"137bc001.5270f","type":"function","z":"92b27fd4.9ae7","name":"form response object","func":"time = msg.payload.time;\nmsg.payload = {\n    result: \"success\",\n    message: \"It's \" + time + \" now!\",\n    time: time\n};\nreturn msg;","outputs":1,"noerr":0,"x":853,"y":135,"wires":[["2af1c20.39c333e"]]},{"id":"b0535e9e.5743a","type":"function","z":"92b27fd4.9ae7","name":"get time","func":"var d = new Date();\nvar n = d.toLocaleTimeString();\nmsg.payload = {time: n};\nmsg.payload = {\n    result: \"success\",\n    message: \"It's \" + n + \" now\",\n    time: n\n};\nreturn msg;","outputs":1,"noerr":0,"x":437,"y":507,"wires":[["d08563e3.8bb27"]]},{"id":"b756d55.2f86a28","type":"http in","z":"92b27fd4.9ae7","name":"","url":"/time","method":"get","upload":false,"swaggerDoc":"","x":120,"y":506,"wires":[["b0535e9e.5743a"]]},{"id":"d08563e3.8bb27","type":"http response","z":"92b27fd4.9ae7","name":"","statusCode":"","headers":{},"x":800,"y":507,"wires":[]},{"id":"78568239.fc840c","type":"json","z":"92b27fd4.9ae7","name":"","property":"payload","action":"","pretty":false,"x":660.5,"y":132,"wires":[["137bc001.5270f"]]},{"id":"bdc1b4c0.172828","type":"comment","z":"92b27fd4.9ae7","name":"simulation of external service","info":"","x":183,"y":463,"wires":[]}]
